body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF6F9;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    color: #333;
}

h2 {
    font-size: 2rem;
    color: #666;
}

#calendar {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header .month-label {
    font-size: 2rem;
    color: #333;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    background-color: #FFBFFE;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1.6rem;
}

.event-form {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-form h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.event-form label {
    display: block;
    margin-top: 10px;
    font-size: 1.6rem;
}

.event-form input,
.event-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.6rem;
}

.event-form button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
}

.event-form button:hover {
    background-color: #0056b3;
}
